<div style="position: absolute;
    top: 47.5%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);">
  <div style="background-color:#454545; border-radius:.5rem; padding-left:4rem; padding-right:4rem; padding-top: 2rem; padding-bottom: 2rem; margin:1.5rem">
    <div style="margin-bottom: 1rem;">
      <img src="../../assets/gold-medal 1.png" alt="gold medal badge">
    </div>
    <div style="text-align: center;">
      <span>NAILED IT!</span>
    </div>
    <div style="text-align: center; font-size: small;">
      <span>You Earned a Star Badge.</span>
    </div>
  </div>
  <div style="background-color:#454545; border-radius:.5rem; padding-left:1rem; padding-right:1rem; padding-top: 1rem; padding-bottom: 1rem; margin: 1.5rem; font-size: small;">
    <div style="padding:.5rem">
      <span>Your Score was 18/20.</span>
    </div>
    <div style="padding:.5rem">
      <span>Would you like to practice more?</span>
    </div>
    <div class="ev-blue-background" style="padding:.5rem; text-align: center; border-radius: 2rem; margin-top: 1rem;">
      <a style="color:black; font-weight: 600; font-size: medium;" href="/video">Practice More</a>
    </div>
  </div>

</div>
