<header class="option-container-header">
    <img src="/assets/clouds.png" />
    <div>Which type of weather extreme extends the range of electric vehicles?</div>
    </header>
    <div class="container">
    <div class="option-container">
        <img src="/assets/hot.png" />
        <div>Hot</div>
        <div>Weather</div>
    </div>
    
    <div class="option-container" style="margin-left: 16px; margin-right: 16px;">
        <img src="/assets/cold.png" />
        <div>Cold</div>
        <div>Weather</div>
    </div>
    
    <div class="option-container">
        <img src="/assets/hotcold.png" />
        <div>Neither. Both hot and cold weather can shorten EV range.</div>
    </div>

    </div>

    <div class="link-container">
        <a href="/upload">Share your experience
            with location and charging </a>
    </div>