<header class="option-container-header">
<img src="/assets/switch.png" />
<div>What is the fastests at-home charging option?</div>
</header>
<div class="container">
<div class="option-container">
    <img src="/assets/option-a.png" />
    <div>Level 1 (120 volts)</div>
</div>

<div class="option-container">
    <img src="/assets/option-b.png" />
    <div>Level 2 (240 volts)</div>
</div>

<div class="option-container">
    <img src="/assets/option-c.png" />
    <div>DC Fast Charging</div>
</div>
<div class="link-container">
    <a href="/upload">Upload picture of your charging setup</a>
</div>
</div>