<header class="option-container-header">
<img src="/assets/switch.png" />
<div>What is the fastests at-home charging option?</div>
</header>
<div class="container">
<div class="option-container">
    <img src="/assets/option-a.png" />
    <div>The charger that comes with your GM electric vehicle is the fastest charging option.</div>
</div>

<div class="option-container">
    <img src="/assets/option-b.png" />
    <div>Some professionally-installed Level 2 chargers offer the fastest home charging available.</div>
</div>

<div class="option-container">
    <img src="/assets/option-c.png" />
    <div>DC Fast Charging is the way to go, at home or on the road.</div>
</div>
<div class="link-container">
    <a href="">Upload picture of your charging setup</a>
</div>
</div>