<video class="video-player" tabindex="-1" autoplay crossorigin="" playsinline="" src="https://brochures-statics.cadillac.com/video/upload/q_auto:best/v1637179797905/prod/2023-LYRIQ-Animations/my23-lyriq-intro-animation-l.mp4" data-object-fit="cover" style=""></video>
<div style="margin: 24px;">
    Here, in this space, you will discover that an electric vehicle is not just possible but totally doable. It will fit into your everyday life—the quick stops at the store, the drives to the family cabin. An EV will be easier than you imagined. Better than you imagined.
And it all begins here, with Cadillac.
</div>
<div style="text-align: center;">
    <a href="#">Challenge Someone</a>
</div>

<div style="text-align: center; margin-top: 24px;">
<button style="border-radius: 20px;
padding: 12px 44px;
background: #05C3DD;
border: 0 solid transparent;
cursor: pointer;">Learn More</button>
</div>