<div class="container box">
    <div class="close-icon row close"><a routerLink="/ev-academy-charging"><mat-icon>close</mat-icon></a></div>
    <div class="upload-icon row header">
        <mat-icon class="upload-icon-item" style="margin-right:50px">upload</mat-icon>
        <p>Upload your pictures</p>
    </div>
    <div class="upload-comment row content">
        <textarea style="width: 100%; height: 100%;">Supporting commets</textarea>
    </div>
    <div class="upload-buttons row footer">
        <button>Cancel</button>
        <button>Save</button>
    </div>
</div>