<div id="dashboardContainer" style="display:flex; flex-direction: column; justify-content: space-between">
  <div class="row header" style="text-align: center">
    <p>Dashboard</p>
  </div>
  <div id="dashFeed" class="center-content">
    <!--    Dashboard feed goes here-->
  </div>

  <div id="awardsContainer">
    <div id="myAwardsTitle" class="left-align">
      My Awards
    </div>
    <div style="display: flex; flex-direction: row; align-content: space-between" >
      <div id="pointsContainer">
        <div>Hack</div>
      </div>

      <div id="badgesContainer">
        <div>Team</div>
      </div>

      <div id="levelsContainer">
        <div>Vega</div>
      </div>

    </div>
    <div style="text-align: center; color: #05C3DD">
      <a (click)="openShare()">Share</a>
    </div>
  </div>

  <div id="leaderboardContainer">
    <div id="leaderboardTitle">
      <div>Leaderboard</div>
    </div>

    <div id="leaderboard">
      <div id="nameColumn">

      </div>
      <div id="pointsColumn">

      </div>
      <div id="badgesColumn">

      </div>
      <div id="levelColumn">

      </div>

    </div>
    <div style="text-align: center; color: #05C3DD">
      <a (click)="openReport()">Report</a>
    </div>
  </div>

</div>
