<div id="dashboardContainer" style="display:flex; flex-direction: column; justify-content: space-between;">
  <div class="row header" style="text-align: center; margin-top: 24px; margin-bottom: 24px;font-size: 1.2em;">
    <div>Dashboard</div>
  </div>
  <div id="dashFeedContainer" class="center-content">
    <!--    Dashboard feed goes here-->
    <img src="/assets/dash-feed.jpg" style="width: 359px; margin-left: 16px;"/>
  </div>

  <div id="awardsContainer">
    <div id="myAwardsTitle" class="left-align">
      My Awards
    </div>
    <div style="display: flex; flex-direction: row; align-content: space-between; text-align: center;" >
      <div id="pointsContainer">
        <div><img src="/assets/points.png"/></div>
        <div style="text-align: center">Points</div>
      </div>

      <div id="badgesContainer">
        <div><img src="/assets/badges.png"/></div>
        <div style="text-align: center">Badges</div>
      </div>

      <div id="levelsContainer">
        <div ><img src="/assets/levels.png"/></div>
        <div style="text-align: center">Levels</div>
      </div>

    </div>
    <div style="text-align: center; color: #05C3DD">
      <a (click)="openShare()">Share</a>
    </div>
  </div>

  <div id="leaderboardContainer" class="row footer">
    <div id="leaderboardTitle">
      <div>Leaderboard</div>
    </div>

    <div style="display: block; text-align: center;">
      <img src="/assets/leaderboard.png"/>
    </div>
    <div style="text-align: center;">
      <a (click)="openReport()">Report</a>
    </div>
  </div>

</div>
