

.center-align{
  text-align: center;
}

.center-content{
  align-content: center;
}

.left-align{
  text-align: left;
}


#myAwardsTitle, #leaderboardTitle{

}

#dashboardContainer{
  background-color: #303030;
  color: white;
  flex: 0 auto;
}

#awardsContainer, #leaderboardContainer{
  background-color: #454545;
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#pointsContainer, #badgesContainer, #levelsContainer{
  width: 800px;
  margin: 11px
}

#points{
  width: 94px;
  height: 87px;
  background-image: url('src/assets/points.png');
}

#badges{
  width: 90px;
  height: 84px;
  background-image: url('src/assets/badges.png');
}

#levels{
  width: 82px;
  height: 78px;
  background-image: url('src/assets/levels.png');
}

#leaderboard{
  width: 342px;
  height: 188px;
  background-size: cover;
  background-image: url('src/assets/leaderboard.png');
}

#dashFeed{
  width: 354px;
  height: 157px;
  background-size: cover;
  background-image: url('src/assets/dash-feed.png');
  margin: 10px
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.box .row {
border: blue;
}
.box .row.header {
  flex: auto;
  margin: 16px;
}
.box .row.content {
  flex: 33%;
  background: #454545;
  margin: 16px;
}
.box .row.footer {
  flex: 23%;
  background: #454545;
  margin: 16px;
}
