<hr />
<div class="image-landing">
    <a routerLink="/ev-academy">
<img src="/assets/evacademy.png" />
    </a>
</div>
<hr />
<div class="image-landing">
    <a routerLink="/lyrq-video">
        <img src="/assets/lyrq.png" />
    </a>
</div>
<hr />
<div class="image-landing">
    <a routerLink="/sub-selector">
    <img src="/assets/hummerev.png" />
    </a>
</div>
<hr />
<div class="image-landing">
    <a routerLink="/sub-selector">
    <img src="/assets/bolteuv.png" />
    </a>
</div>
<hr />
<div class="image-landing">
    <a routerLink="/sub-selector">
    <img src="/assets/boltev.png" />
    </a>
</div>
