
<!-- <app-navigation></app-navigation>
<app-dashboard></app-dashboard> -->
<div *ngIf="url == '/selector' || 
            url == '/ev-academy'" class="header-container">
<app-default-header></app-default-header>
</div>

<div *ngIf="url == '/ev-academy-charging' || 
            url == '/upload' || 
            url == '/ev-academy-weather' || 
            url == '/ev-academy-amperage' || 
            url == '/ev-academy-weather' || 
            url == '/ev-result'" class="header-container">
    <app-evacademy-header></app-evacademy-header>
    </div>

<div *ngIf="url == '/lyrq-video'" class="header-container">
<app-lyrq-header></app-lyrq-header>
</div>

<div *ngIf="url == '/dashboard' || url == '/profile'" class="header-container">
    <app-default-header></app-default-header>
    </div>

<router-outlet></router-outlet>
