<div class="box">
  <div class="row header">
    <h1>My Profile</h1>
  </div>
  <div class="row content">
    <div id="personalInfoContainer" fxLayout="row">
      <div id="personalInfoTitle" class="left-align">
        Personal Info
      </div>
      <div id="profileEditButton">
        <button mat-icon-button (click)="openProfileEditor()" title="Open Profile Editor" id="openProfileEditButton">
          <i class="material-icons" id="editButtonIcon">edit</i>
        </button>
      </div>
  
      <div id="userProfileName" fxLayout="column">
        <span>{{userProfileName}}</span>
      </div>
      <div id="userAddress">
        <span>{{userAddress}}</span>
      </div>
  
      <div id="userPhoneNumber" fxLayout="column">
        <span>{{userPhoneNumber}}</span>
  
      </div>
      <div id="userEmail">
        <span>{{userEmail}}</span>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div id="loginInfoContainer" fxLayout="row">
      <div>
        <p>Login Info</p>
      </div>
  
      <div>
        <div id="login" fxLayout="row">
          <span>Login</span>
          <span>{{userUsername}}</span>
        </div>
        <div id="password">
          <span>Password</span>
          <span>**********</span>
        </div>
      </div>
    </div>
  </div>
</div>



