.center-align{
  text-align: center;
}

.center-content{
  align-content: center;
}

.left-align{
  text-align: left;
}

#profileContainer{
  background-color: #303030;
  color: white;
  min-height: 100vw;
  flex: 0 auto;
}

#personalInfoTitle, #loginInfoTitle{
  /* Vega Section Title */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */

  display: flex;
  align-items: center;

  /* dark-mode/neutral/white */

  color: #FFFFFF;
}

#openProfileEditButton{

}

#profilePicture{
  width: 125px;
  height: 125px;
  background-image: url('src/assets/user-pic-large.png');
  background-size: cover;
  display: block;
}

#userProfileName, #userRoleName, #userAddress{
  font-family: GM Global Sans;
  font-size: 16px;
  line-height: 20px;

  /* or 125% */

}

#userPhoneNumber, #userEmail{
  font-family: GM Global Sans;
  font-size: 16px;
  line-height: 20px;

  /* or 125% */

  color: #05C3DD;
}

#personalInfoContainer{
  background-color: #454545;
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#loginInfoContainer{
  background-color: #454545;
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#loginTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */

  /* dark-mode/neutral/white */

  color: #FFFFFF;
}

#login,#password{
  font-family: GM Global Sans;
  font-size: 16px;
  line-height: 20px;

  /* dark-mode/neutral/white */
  color: #FFFFFF;
}



.flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.flex-column {
  padding: 5px;
  min-width: 150px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.box .row {

}
.box .row.header {
  flex: auto;
  margin: 16px;
}
.box .row.content {
  flex: 33%;
  background: #454545;
  margin: 16px;
}
.box .row.footer {
  flex: 23%;
  background: #454545;
  margin: 16px;
}
