<div class="box">
  <div class="row header" style="text-align: center">
    <p>My Profile</p>
  </div>

  <div id="profilePicture" style="display: block; margin: auto; border-radius: 100px">
<!--    <img src="assets/user-pic-large.png" >-->
  </div>

  <div class="row content">
    <div id="personalInfoContainer" style="display: flex; flex-direction: column; justify-content: space-between">
      <div style="display: flex; justify-content: space-between">
        <div id="personalInfoTitle" class="left-align">
          Personal Info
        </div>
        <div id="profileEditButton">
          <button mat-icon-button (click)="openProfileEditor()" title="Open Profile Editor" id="openProfileEditButton">
            <i class="material-icons" id="editButtonIcon">edit</i>
          </button>
        </div>
      </div>

      <div id="userProfileName" style="height: 40px;">
        <div>{{userProfileName}}</div>
      </div>

      <div id="userRoleName" style="height: 40px;">
        <div>{{userRole}}</div>
      </div>

      <div id="userAddress" style="height: 60px;">
        <div>{{userAddress}}</div>
      </div>

      <div id="userPhoneNumber" style="height: 20px;">
        <div>{{userPhoneNumber}}</div>
      </div>

      <div id="userEmail" style="height: 20px;">
        <div>{{userEmail}}</div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div id="loginInfoContainer">
      <div style="display: flex; justify-content: space-between">
        <div id="loginInfoTitle" class="left-align">
          Login Info
        </div>
        <div id="loginInfoEditButton">
          <button mat-icon-button (click)="openProfileEditor()" title="Open Profile Editor" id="openLoginInfoEditButton">
            <i class="material-icons" id="editButtonIcon2">edit</i>
          </button>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-between;" >
        <div id="login" style="display: flex; flex-direction: column; height:40px">
          <div>Login</div>
          <div>{{userUsername}}</div>
        </div>
        <div id="password" style="display: flex; flex-direction: column; height:40px">
          <div>Password</div>
          <div>**********</div>
        </div>
      </div>
    </div>
  </div>
</div>



