<div class="genericBox" id="achievements">
  <img src="/assets/switch.png"/>
  <p>What is the amperage rating for the Dual-Level Charge Cord that will be standard or available on all 2022 and later GM EVs?</p>
</div>
<div id="answerChoices" class="genericBox">
  <button id="question" style="background-color:#adaabf" (click)="customFunction()">32 Amp</button>
  <button id="question2" style="background-color:#cfbeaf" (click)="customFunction()">40 Amp</button>
  <button id="question3" style="background-color:#cbcbaa" (click)="customFunction()">80 Amp</button>
</div>
<div class="genericBox" id="hidden" style="display:none;">
  <img src="assets/lvl2_charging_graph.png" id="answerImage"/>
</div>
<div class="genericBox" id="footer">
  <button id="BTNprevious" (click)="previousPage()">Previous</button>
  <button id="BTNnext" (click)="nextPage()">Next</button>
</div>
