<div class="navigationBar">
  <mat-icon style="margin-right: 10px;">home</mat-icon>
  <img id="logo" src="/assets/evacademy.png" />
  <img id="userPic" src="/assets/user-pic.png" />
</div>
<div class="genericBox" id="achievements">
  <img src="assets/electric-plug.png"/>
  <p>What is the amperage rating for the Dual-Level Charge Cord that will be standard or available on all 2022 and later GM EVs?</p>
</div>
<div id="answerChoices">
  <button id="question" style="background-color:#adaabf">32 Amp</button>
  <button id="question2" style="background-color:#cfbeaf">40 Amp</button>
  <button id="question3" style="background-color:#cbcbaa">80 Amp</button>
</div>
<script type="text/javascript">
  function showAnswer(){
    button.style.color = "green";
  }
  showAnswer();
</script>
